body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  padding: 1rem;
  text-align: center;
}

h2 {
  text-align: center;
}

.card {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.card-images {
  width: 100%;
}

.main{
  /* object-fit: cover; */
  background-size: contain;
  max-width: 1420px;
  max-height: 600px;
  /* width: auto;
  height: auto; */
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-div{
  padding: px;
}

.tunnels{
  padding: 2rem 2rem 2rem 2rem;
}

.favorites{
  padding: 2rem 2rem 2rem 2rem;
}

.create-form{
  padding: 1rem;
  text-align: center;
}

.login-form{
  padding: 1rem;
  text-align: center;
}

p {
  text-align: center;
}

.labels{
  padding: 5px;
}

.popup {  
  /* position: fixed;   */
  /* width: 100%;   */
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  color: white;
}  

.popup_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto; 
  padding: 8px; 
  border-radius: 20px;  
  background: grey; 
  width: 80%;
  overflow-x:hidden;
  overflow-y:auto;
}

.nav {
  background: #207179;
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%; 
  margin: 0 auto; 
  padding: 10px;
  font-weight: bolder;
}

.username {
  color: white;
}

.app-title {
  margin-top: 1px;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  width: 25px;
  height: 30px;
  color: #F7958E;
  cursor: pointer;
}

button[data-setter]:hover { opacity: 0.5; }

.setters {
  position: absolute;
  left: 85px;
  top: 75px;
}

.minutes-set {
  float: left;
  margin-right: 28px;
}

.seconds-set { float: right; }

.controlls {
  position: absolute;
  left: 75px;
  top: 105px;
  text-align: center;
}

.display-remain-time {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 65px;
  color: #F7958E;
}

#pause {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #F7958E;
}

.pause::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 30px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #F7958E;
  border-top: none;
  border-bottom: none;
}

#pause:hover { opacity: 0.8; }

.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #F7958E;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #F7958E;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }