body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  padding: 2rem;
}

h2{
  text-align: center;
}

.card{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.card-images {
  width: 100%;

}

.main{
  height: 500px;
  width: 1300px;
  /* margin: 0 auto;
  padding: 5px auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* opacity: 60%; */
}